*{
    font-family: 'Vollkorn', serif;
}

.login{
    text-align: center;
    margin-top: 8%;
    width: auto;
    height: auto;

}

.login .container {
    margin: auto;
    width: 50%;
    padding: 0;
    align-items: center;
    background-color: #007bff;
    border: solid black 4px;
}

.login .container input{
    margin:2%;
    width: 50%;
    padding: 2%;
}

.login .container button{
    margin: 4%;
    margin-top: 0;
    width: 20%;
}

.navigation nav .navbar button{
    margin-right: 0;
}

.fileContainer{
    background-color: gray;
    padding: 2%;
    margin: auto;
}

.fileContainer h2{
    font-weight: bold;

}

.fileContainer input{
    border: solid black 4px;
    width:100%;
    margin-top: 2%;
}

.fileContainer progress{
    width: 100%;
    color: royalblue;
    margin-top: 2%;
}

.fileContainer #p1{
    color: whitesmoke;
    font-weight: bold;
}

.fileContainer #size{
    margin: 1%;
    color: whitesmoke;
    font-weight: bold;
}

.fileContainer ul li{
    margin: 2%;
}

.fileContainer ul li embed{
    margin:4%;
    height:25%;
    width:25%;
    border: 4px solid black;
}

.displayContainer{
    background-color: #007bff;
    padding: 2%;
    display: block;
}

.displayContainer button{
    margin-left: 46%;
    margin-right: 46%;
    margin-top : 5%;
    margin-bottom: 5%;
}


.displayContainer table tr{
    text-align: center;
}

.displayContainer table tr td{
    margin: 0;
    width: 20%;
    text-align: center;
    border: solid black 4px;
}

.displayContainer table tr td embed{
    margin: 0;
    height: 20%;
    width: 100%;
    border: 4px solid black;
}

.displayContainer table tr td p{
    width: auto;
    color: white;
    font-weight: bold;
}

.displayContainer table tr td a{
    width: auto;
    border: 1px solid transparent #343a40;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: white;
    background-color: #343a40;
}

.displayContainer table tr td button{
    margin: 0%;
    width: auto;
}

.displayContainer #searchList{
    margin-bottom:2%;
}

.displayContainer #searchList tr td{
    border: 4px solid white;
}

.displayContainer #searchList tr td input{
    width:100%;
}

.displayContainer #searchList tr td button{
    width:100%;
}